* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(80, 182, 232);
}
header li {
  font-size: 1.3rem;
}
header li a {
  color: white;
  transition: 0.4s;
}
header li:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.navbar-brand {
  font-size: 2rem;
}

body {
  background-color: rgb(234, 234, 234);
}

ul {
  gap: 1rem;
}

.blog-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 400px 400px;
  margin: 0 auto;
  width: 832px;
}
.blog-grid .blog-post {
  background-color: white;
  width: 400px;
  padding: 1rem;
  border: 2px solid rgb(179, 179, 179);
  overflow: hidden;
  transition: 0.5s;
}
.blog-grid .blog-post:hover {
  border: 2px solid rgb(80, 182, 232);
  transform: scaleY();
}
.blog-grid .blog-post div {
  display: flex;
  flex-direction: row;
}
.blog-grid .blog-post div .post-date {
  margin-left: auto;
  margin-right: 0;
}
.blog-grid .blog-post h3 {
  margin-bottom: 1.4rem;
}
.blog-grid hr {
  margin-block-end: 0;
  margin-block-start: 0;
  position: relative;
  bottom: 15px;
}

@media only screen and (max-width: 992px) {
  .blog-grid {
    grid-template-columns: 200px;
    width: 400px;
  }
}
form {
  background-color: white;
  max-width: 44rem;
  margin: 4rem auto;
  padding: 1rem 2rem;
  border: 2px solid rgb(179, 179, 179);
}
form li {
  margin-left: 1rem;
}