*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(80, 182, 232);
}
nav{
    margin: 0 auto;
}
.navbar-brand{
    font-size: 2rem;
}
body{
    background-color: rgb(255, 244, 244);
}
ul{
    gap: 1rem;
}
li{
    font-size: 1.3rem;
}
li a{
    color: white;
}
.blog-grid{
display: grid;
gap: 2rem;
}
.blog-post{
    background-color: white;
    width: 400px;
}